<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleforindex.css">
    <title>Document</title>
</head>
<body>
   <div class="box">
    <div class="content">
     <h2>Diabetic Predictor</h2>
     <p>The Diabetic Predictor app is a powerful tool that helps users determine their likelihood of having diabetes by inputting various health metrics such as age, weight, blood pressure, and glucose levels. Using advanced algorithms, the app analyzes the user's input and provides an accurate prediction of their risk for developing diabetes. With this information, users can take proactive steps to manage their health and prevent the onset of diabetes.</p>
   <button>
        <a href="/next">Get Started</a>
    </button>

    </div>
   </div>
</body>
</html>